<%= render 'partials/navbar' %>

<div class="mx-auto" style="width: max-content">
    <h1 style="display: inline">Authors List</h1>
    <%= image_tag("quill.jpg", size: "50x50", style: "display: inline") %>
</div>

<ul>
    <% @authors.order(:last_name).each do |author| %>
        <li><%= link_to author.order_last_name, author_path(author) %></li>
    <% end %>
</ul>

<%= form_tag(authors_path, method: :get) do %>
  Search for an Author by Last Name <%= text_field_tag :last_name, params[:last_name] %>
  <%= submit_tag 'Search', name: nil%>
<% end %>

<% unless @authors.count == Author.all_count %>
  <%= button_to "All Authors", authors_path, method: :get %>
<% end %>
