<h1>Create Profile</h1>
<% if flash[:notice]%>
<p><%= flash[:notice]%></p>
<%end%>

<%= form_with url: users_path do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name, name: "user[name]"%>
    <%= f.label :username%>
    <%= f.text_field :username, name: "user[username]"%>
    <%= f.label :email%>
    <%= f.email_field :email, name: "user[email]"%>
    <%= f.label :password%>
    <%= f.password_field :password, name: "user[password]"%>
    <%= f.submit%>
<%end%>

<br>

<%= link_to 'Back', :back %>