<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <%= render 'partials/navbar' %>
        <div class="text-center">
        <div class="banner">
            <h1>Welcome <%= @user.name.capitalize %></h1><br>
            <p>Username: <%= @user.username%></p><br>
            <p>Email: <%= @user.email%></p><br>
            <h2 align="left">Your Summaries: </h2>
            <br>
            <br>
            <br>
            <% @user.summaries.each do |summary|%>
                <ul align="left">
                <%= link_to summary.title, book_path(summary.book)%>
                </ul>
            <%end%>
            </div>
            <br>
            <br>
            <%= button_to 'Edit Profile', edit_user_url, method: :get, :class => "btn btn-outline-primary" %>
            <br>
            <%= button_to "Log out", logout_path, method: :delete, :class => "btn btn-outline-primary"%>
        </div>
    </body>
</html>