<h1>Welcome <%= @user.name.capitalize %></h1>
<p>Username: <%= @user.username%></p>
<p>Email: <%= @user.email%></p>

<h2>Your Summaries: </h2>

<% @user.summaries.each do |summary|%>
    <ul>
    <%= link_to summary.title, book_path(summary.book)%>
    </ul>
<%end%>

<h3><%= link_to "Check Out Our Books", books_path %></h3>

<%= button_to 'Edit Profile', edit_user_url, method: :get%>
<br>

<%= button_to "Log out", logout_path, method: :delete %>