<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="text-center">
            <h1>Welcome <%= @user.name.capitalize %></h1>
            <p>Username: <%= @user.username%></p>
            <p>Email: <%= @user.email%></p>
            <h2>Your Summaries: </h2>

            <% @user.summaries.each do |summary|%>
                <ul>
                <%= link_to summary.title, book_path(summary.book)%>
                </ul>
            <%end%>

            <h3><%= link_to "Check Out Our Books", books_path %></h3>


            <%= button_to 'Edit Profile', edit_user_url, method: :get, :class => "btn btn-outline-primary" %>
            <br>
            <%= button_to "Log out", logout_path, method: :delete, :class => "btn btn-outline-primary"%>
        </div>
    </body>
</html>