<div class="mx-auto" style="width: max-content">
    <h1 style="display: inline">Book List</h1>
    <%= image_tag("book_pile.jpg", size: "50x50", style: "display: inline") %>
</div>
<div class="book_list">
<ul>
<% @books.each do |book| %>
    <li><%= link_to "#{book.title}", book_path(book) %> by <%= " by #{book.author_full_name}" %></li>
<% end %>
</ul>
</div>

<%= form_tag(books_path, method: :get) do %>
  Search for a Book by Title <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Search', name: nil%>
<% end %>

<% unless @books.count == Book.all_count %>
  <%= button_to "All Books", books_path, method: :get %>
<% end %>
<br>
<% if logged_in? %>
    <%= button_to "Add a Book", new_book_path, method: :get %>
<% end %>

