<h1>Add a Book to Have It Summarized</h1>

<%= form_for @book do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :author_id %>
    <%= f.collection_select :author_id, Author.all, :id, :full_name %>

    <%= f.submit %>
<% end %>