<h1><%= @book.title %></h1>
<h2>by <%= link_to @author.full_name, author_path(@author) %></h2>
<h3>Summaries</h3>
<% @summaries.each do |summary| %>
    <p><b><%= summary.title %></b> summarized by <i><%= summary.username %></i></p>
    <p><%= summary.content %></p>
<% end %>

<%= form_with model: Summary.new, url: [@book, Summary.new] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :content %>
    <%= f.text_area :content %><br>

    <%= f.hidden_field :book_id, :value => @book.id %>

    <%= f.hidden_field :user_id, :value => 1 %>
    
    <%= f.submit %>
<% end %>






